.scroll-row {
  display: flex;
  width: max-content;
}

.scroll-right {
  animation: scrollRight 40s linear infinite;
}

.scroll-left {
  animation: scrollLeft 40s linear infinite;
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
